downloads/
logs/
saves/
screenshots/
crash-reports/
.curseclient
usercache.json
usernamecache.json
config/oculus.properties
options.txt
servers.dat
.qmenu_opened.marker
shaderpacks/
brb.pins
etched-sounds/
emi.json
modernfix/
server-resource-packs/
.mixin.out/
config/everycomp-hazardous.properties
/.idea/libraries/ComplementaryReimagined_r5_2_2.xml
/.idea/libraries/mods.xml
/.idea/libraries/resourcepacks.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/Survival Reimagined 2.iml
/.idea/vcs.xml
.physics_mod_cache
exposures
map_atlases/
/controllable_natives/
